{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-image"></i> YPH - Your Photo Host</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_staff %}
        <li class="nav-item"><a class="nav-link" href="{% url 'main_page' %}admin"><i class="fas fa-cogs"></i> Admin Panel</a></li>
        {% endif %}
        {% if user.is_superuser or request.user|is_moderator or request.user.is_staff %}
        <li class="nav-item"><a class="nav-link" href="{% url 'users_list' %}"><i class="fas fa-users-cog"></i> User Admin</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'profile_details' %}"><i class="fas fa-user"></i> My Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'my_images' %}"><i class="fas fa-images"></i> My Images</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'album_list' %}"><i class="fa fa-book" aria-hidden="true"></i> My Albums</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'recent' %}"><i class="fas fa-images"></i> All Uploaded Images</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}"><i class="fas fa-envelope"></i> Contact Us</a></li>
      </ul>
    </div>
  </nav>

  <div class="container py-4 flex-grow-1">
    {% block content %}
    {% endblock %}
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  {% comment %}<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.0/dist/umd/popper.min.js"></script>{% endcomment %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Your Photo Host. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>



</body>
</html>