{% extends 'base.html' %}

{% block title %}YPH - My Favorites{% endblock %}


{% block content %}

    <div class="row">
    <div class="col">
        <h2>My Favorites</h2>
    </div>

</div>
    

{% if favorite_images %}
<div class="row">
    {% for image in favorite_images %}
    <div class="col-md-3">
        <a href="{% url 'image_details' image.pk %}">
            <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-thumbnail">
        </a>
        <h4>{{ image.title }}</h4>
    </div>
    {% endfor %}
</div>
{% else %}
<br>
No favorite images found.
{% endif %}
{% endblock %}
