{% extends 'base.html' %}

{% block title %}YPH - Reported Images{% endblock %}

{% block content %}
<style>
  .thumbnail-wrapper {
    height: 250px;
    overflow: hidden;
  }

  .thumbnail-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title-wrapper {
    text-align: center;
  }
</style>

<h2>Reported Images</h2>

{% for report in reports %}
<div class="row mb-4">
  <div class="col-md-4">
    <div class="thumbnail-wrapper">
      <a href="{% url 'image_details' report.image.pk %}"><img src="{{ report.image.image.url }}" alt="{{ report.image.title }}" title="{{ report.image.title }}" class="img-thumbnail"></a>
    </div>
  </div>
  <div class="col-md-8">
    <p>Reported by: <a href="{% url 'user_detail' report.reporter.pk %}" class="btn btn-outline-secondary" type="button">{{ report.reporter.username }}</a></p>
    <p>Uploaded by:
      {% if report.image.user %}
      <a href="{% url 'user_detail' report.image.user.id %}" class="btn btn-outline-secondary" type="button">{{ report.image.user.username }}</a>
      {% else %}
      Guest
      {% endif %}
    </p>
    <p>Reason: {{ report.reason }}</p>
    <div class="d-flex">
      <form method="POST" action="{% url 'delete_report' report.pk %}">
        {% csrf_token %}
        <button type="submit" name="delete" class="btn btn-danger mr-2">Delete Image</button>
      </form>
      <form method="POST" action="{% url 'cancel_report' report.pk %}">
        {% csrf_token %}
        <button type="submit" name="cancel" class="btn btn-secondary">Cancel Report</button>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<a href="{% url 'reported_images' %}" class="btn btn-primary">Refresh</a>
<a href="{% url 'users_list' %}" class="btn btn-secondary">Back to User Admin</a>
{% endblock %}
