{% extends 'base.html' %}
{% block title %}YPH - Images{% endblock %}
{% block content %}
    <h2>
    Uploaded Images
    </h2>
    {% if images %}
        <div class="row">
        {% for image in images %}
        <div class="col-md-3">
     {% if image.title is not None %}
        <a href="{% url 'image_details' image.pk %}"><img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-thumbnail"></a>
        <h4>{{ image.title }}</h4>
      {% else %}
      <a href="{% url 'image_details' image.pk %}"><img src="{{ image.image.url }}" alt="img" class="img-thumbnail"></a>
        <h4>No title</h4>
      {% endif %}
        </div>
    {% endfor %}
 </div>

 <div class="pagination justify-content-end">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
      </li>
    {% endif %}

    <li class="page-item">
      <span class="page-link">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>
    {% else %}
        <p>No uploaded images found.</p>
    {% endif %}


{% endblock %}

